@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,
cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,
ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{
  line-height:1;
  color:#161616
}
button{
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    color: #3399FF;
    width: 300px;
    font-size: 32px;
    font-family: 'Bungee', cursive;
    opacity: .8;
}
button:hover {
    background-color: #3399FF; /* Green */
    color: white;
}
#scroll button {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 14s ease-in;
       -moz-transition: opacity 14s ease-in;
        -ms-transition: opacity 14s ease-in;
         -o-transition: opacity 14s ease-in;
            transition: opacity 14s ease-in;
    animation: blinker 3s linear infinite;
    animation-delay: 14s;
}

#scroll button.load {
    opacity: 10;
}
img{
  display: block;
  margin: auto;
  width: 50%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block
}
nav ul{
  list-style:none
}
li{
  display: inline-block
}
blockquote,q{
  quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
  content:none
}
a{
  margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none
}
mark{
  background-color:#ff9;color:#000;font-style:italic;font-weight:bold
}
del{
  text-decoration:line-through
}
abbr[title],dfn[title]{
  border-bottom:1px dotted;cursor:help
}
table{
  border-collapse:collapse;border-spacing:0
}
hr{
  display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0
}
input,select{
  vertical-align:middle
}
li{
  list-style:none
}
html,body{ 
	width:100%;
	height:100%;
	background:#111;
}
html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  font-family: 'Bungee', cursive;
}
canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3399FF;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- elements ---- */
.wrapper{
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.header{
  display: table;
  font-family: 'Bungee', cursive;
  font-size: 5em;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: #fdfefe;
}

#title{
  visibility: visible;
  margin-top: 4em;
}

#cursor {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0;}
}

#scroll {
  font-size: 0.5em;
  color: #fdfefe;
}

#info{
  position: relative;
  background-color: #161616;
  bottom: 0;
  overflow: hidden;
}

#info-header{
  font-family: Consolas, monaco, monospace;
  color: #e6e6e6;
}

#info-body{
  position: relative;
  top: 1em;
  margin-top: 1em;
}

.thumbnail{
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.info-text{
  font-family: Consolas, monaco, monospace;
  font-size: 2em;
  color: #e6e6e6;
  margin-right: 2em;
}